footer
  ul.privacy
    li.dataprot 
      a(href="./datenschutz.html", target="_blank", rel="noopener noreferrer") Datenschutz
    li.link Made with
      img(src="./assets/icons/wine.svg", alt="")
      a(href="http://schaal.design", target="_blank", rel="noopener noreferrer") by schaal.design