<!DOCTYPE html>
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gulp Testing Place
    link(rel="stylesheet", href="/assets/css/styles.min.css")
  body
    nav.nav_upper
      .nav_bar
        .logo
          h1 LOGO
        .nav_hamburger
          .line
          .line
          .lines_flex
            .line
            .line
    nav.nav_offCanvas
      ul.nav_menu
        li 
          a(href="#") Home
        li 
          a(href="#") About
        li 
          a(href="#") Vita
        li
          ul.nav_menu_social
            li 
              a(href="#") 
                img(src="", alt="")
            li 
              a(href="#") 
                img(src="", alt="")

    script(src="/assets/js/script.min.js")