.topbar.flex
  .logo
    a(href='./')
      img.logo-svg(src='./assets/icons/kk_logo.svg', alt='')
  menu
    ul.menu
      li 
        a(href="#now") Now
      li 
        a(href="#next") Next
      li
        a(href="#prev") Previous
      //li
        a.mail(href="mailto:hello@klangkeller.info") hello@klangkeller.info
  