<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/assets/css/styles.min.css")
    title test
  body
    .kk_banner
      .logo
        img(src="./assets/icons/kk_circle.svg", alt="")
      .kk_banner_content
        .flex-container
          p.bandname Normahl
          p.date 16.07
        .block-container
          p.live live @Klang<span>Keller</span>
    .clear-fix
    #clockdiv
      .time_field
        span.days
        .smalltext Tage
      .time_field
        span.hours
        .smalltext Stunden
      .time_field
        span.minutes
        .smalltext Minuten
      .time_field
        span.seconds
        .smalltext Sekunden

    script(src="/assets/js/script.min.js")

