.topbar
  .wrapper-topbar.flex
    .logo
      // <a href="./home"> <img src="./assets/images/logo.svg" /></a>
      a(href='./work')
        img.logo-svg(src='./assets/images/logo_cemcako.svg', alt='')
    .nav-element-burger(onclick='toggleNav()')
      .nav-element-burger-line
      .nav-element-burger-line
      .nav-element-burger-lines-flex
        .nav-element-burger-line
        .nav-element-burger-line
