@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  -moz-osx-font-smoothings: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: bottom;
  -o-object-fit: cover;
  object-fit: cover;
}

h1, h2, h3, h4, h5, p {
  line-height: 1.4;
}

h2, h3 {
  text-transform: uppercase;
  font-weight: 500;
}

.wrapper {
  width: 96%;
  margin: auto;
  max-width: 1200px;
}

main {
  padding-top: 1em;
}

header {
  width: 100%;
}

.topbar {
  padding-top: 1.5em;
}

.menu {
  margin-top: 1em;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 240px;
}

.menu li {
  padding: 0.5em;
}

.menu li:first-child {
  background: #800032;
}

.menu li:first-child a {
  color: #e1e1e1;
}

.menu .mail {
  color: #e1e1e1;
  font-size: 0.75em;
  background: #282828;
  padding: 0.75em;
}

.flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo img {
  -webkit-filter: 0;
  filter: 0;
  height: 2em;
  -webkit-transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
  -o-transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
  transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}

.logo img.animation {
  -webkit-filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(114deg) brightness(112%) contrast(100%);
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(114deg) brightness(112%) contrast(100%);
}

@media screen and (min-width: 768px) {
  .logo img {
    height: 3em;
  }
}

picture {
  width: 100%;
  height: auto;
}

picture img {
  width: 100%;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #800032;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 768px) {
  .container {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}

main h4 {
  font-weight: 200;
  text-transform: uppercase;
}

main h2 {
  margin-bottom: -0.25em;
}

main h2, main h3 {
  font-family: 'Bebas Neue';
}

main h3 {
  margin-top: 0.25em;
  font-size: 1.25em;
}

main .website {
  text-transform: lowercase;
  color: #484848;
  font-weight: 200;
}

main section {
  margin-bottom: 3em;
}

main span {
  color: #800032;
}

main p {
  margin-bottom: 1em;
  color: #484848;
  font-weight: 200;
}

.facebook {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.instagram:hover {
  -webkit-filter: invert(25%) sepia(89%) saturate(2008%) hue-rotate(290deg) brightness(86%) contrast(95%);
  filter: invert(25%) sepia(89%) saturate(2008%) hue-rotate(290deg) brightness(86%) contrast(95%);
}

.spotify:hover {
  -webkit-filter: invert(67%) sepia(68%) saturate(4578%) hue-rotate(102deg) brightness(99%) contrast(77%);
  filter: invert(67%) sepia(68%) saturate(4578%) hue-rotate(102deg) brightness(99%) contrast(77%);
}

.youtube:hover {
  -webkit-filter: invert(28%) sepia(99%) saturate(7500%) hue-rotate(358deg) brightness(104%) contrast(118%);
  filter: invert(28%) sepia(99%) saturate(7500%) hue-rotate(358deg) brightness(104%) contrast(118%);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.social-media img {
  margin-right: 1em;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 26px;
}

.social-media img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.social-media .youtube {
  width: 36px;
}

footer {
  padding: 3em;
  background: #282828;
}

footer .privacy {
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #e1e1e1;
}

footer .privacy img {
  height: 1.2em;
  padding: 0 0.2em;
}

footer .privacy a {
  color: #e1e1e1;
  text-transform: none;
  font-weight: 200;
}

footer .privacy .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #800032;
}

footer .privacy .link, footer .privacy .dataprot {
  border: 1px solid #e1e1e1;
  padding: 0.5em;
}

footer .privacy .dataprot {
  background: white;
}

footer .privacy .dataprot a {
  color: #282828;
}

.clear-fix {
  clear: both;
}

.kk_banner {
  font-family: 'Bebas Neue';
  font-weight: 700;
  background: #fafafa;
  width: 500px;
  height: 100px;
  padding-left: 24px;
  padding-top: 10px;
  margin: auto;
  margin-top: 20%;
  border-radius: 12px;
  color: #282828;
}

.kk_banner span {
  color: #800032;
}

.bandname {
  color: #800032;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.5em;
}

.kk_banner_content {
  position: relative;
  top: -12px;
}

.block-container {
  font-size: 2.5em;
  position: relative;
  top: -28px;
}

.logo {
  float: left;
}

.logo img {
  height: 5.1em;
}

.date {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0.05em 0.05em 0.05em rgba(250, 250, 250, 0.25), 0 0 0 #b3b3b3;
  font-weight: 700;
}

#clockdiv {
  font-family: 'Bebas Neue';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 600px;
  font-size: 2em;
  text-align: center;
  margin: auto;
  margin-top: 3em;
}

#clockdiv .time_field {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0.05em 0.05em 0.05em rgba(250, 250, 250, 0.25), 0 0 0 #b3b3b3;
  font-weight: 700;
  background: -o-linear-gradient(278.9deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
  background: linear-gradient(171.1deg, #EEF1F5 4.98%, #E6E9EF 94.88%);
  -webkit-box-shadow: inset 5px 5px 10px rgba(166, 180, 200, 0.75), inset -5px -5px 15px rgba(255, 255, 255, 0.75);
  box-shadow: inset 5px 5px 10px rgba(166, 180, 200, 0.75), inset -5px -5px 15px rgba(255, 255, 255, 0.75);
  width: 120px;
  height: 3em;
  padding-top: 0.25em;
  border-radius: 5px;
}

#clockdiv .time_field .smalltext {
  color: #800032;
}
